  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital@1&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  :root {
    --strong: #780000;
    --titles: #C1121F;
    --primary: #f9f2e5;
    --secondary: #003049;
    --hover: #7fabc6;
  }

  /* font-family: 'Bebas Neue', sans-serif;
  font-family: 'Playfair Display', serif; */


  /* Css reset start */
  * {
    min-width: 0;
    font: inherit;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }

  body {
    margin: 0;
    min-height: 100dvh;
    font-family: 'Playfair Display', serif;
    color: var(--secondary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  /* Css reset end */


  html {
    background-color: var(--primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='399' viewBox='0 0 100 199'%3E%3Cg fill='%23003049' fill-opacity='.1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: var(--secondary);
    color: var(--primary);
  }

  hr {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 4px;
    background-color: var(--secondary);
    border: none;
    border-radius: 25px;
    margin-top: 20dvh;
    margin-bottom: 20dvh;
  }

  p {
    font-weight: 600;
    text-align: left;
    font-size: clamp(10px, 17.5vw, 20px);
    font-family: 'Inter', sans-serif;
  }


  h1 {
    font-size: clamp(100px, 17.5vw, 180px);
    line-height: .1;
  }

  h2 {
    font-size: clamp(40px, 17.5vw, 80px);
  }

  h3 {
    font-size: clamp(40px, 17.5vw, 40px);
    margin-top: -10px;
  }

  h4 {
    font-size: clamp(20px, 17.5vw, 30px);
  }

  h5 {
    font-size: clamp(10px, 17.5vw, 16px);
    font-family: 'Inter', sans-serif;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }

  button.learn-more {
    width: 12rem;
    height: auto;
  }

  button.learn-more .circle {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--secondary);
    border-radius: 1.625rem;
  }

  button.learn-more .circle .icon {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--primary);
  }

  button.learn-more .circle .icon.arrow {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }

  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--primary);
    border-right: 0.125rem solid var(--primary);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  button.learn-more .button-text {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--secondary);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }

  button:hover .circle {
    width: 100%;
  }

  button:hover .circle .icon.arrow {
    background: var(--primary);
    -webkit-transform: translate(1rem, 0);
    -ms-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
  }

  button:hover .button-text {
    color: var(--primary);
  }

  header {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
  }


  .logo {
    float: left;
    margin-top: 2em;
    margin-left: 2em;
  }

  .logo .main {
    display: block;
    transition: all ease 1s;
  }

  .logo .submain {
    display: none;
    transition: all ease 1s;
  }

  .logo:hover {
    cursor: pointer;

  }

  .logo:hover .main {
    display: none;
  }

  .logo:hover .submain {
    display: block;
  }

  nav {
    max-width: 600px;
    width: 100%;
    margin: auto;
    z-index: 9999;
    margin-top: 2em;
  }

  nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    background: #00000020;
    backdrop-filter: blur(5px);
    height: 2.5em;
    align-items: center;
    border-radius: 50px;
    padding: 0;
  }

  nav li {
    width: calc(100% / 3);
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--secondary);
    height: 100%;
    font-weight: 600;
    text-transform: uppercase;
    transition: all ease .25s;
  }

  nav li:nth-child(1) {
    border-radius: 50px 0px 0px 50px;
  }

  nav li:nth-child(3) {
    border-radius: 0px 50px 50px 0px;
  }

  nav li.active {
    background: var(--secondary);
    color: var(--primary);
  }

  nav li:hover {
    background: var(--secondary);
    color: var(--primary);
  }

  nav li a {
    text-decoration: none;
    color: var(--secondary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  nav li:hover a {
    color: var(--primary);
  }

  nav li.active a {
    color: var(--primary);
  }

  .hero {
    padding-top: 20dvh;

    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
  }

  .about {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
  }

  .contact {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .input-container {
    position: relative;
    margin: 50px auto;
    width: 100%;
    max-width: 500px;
  }

  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--secondary);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secondary);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  .input-container input[type="text"]:focus~.label,
  .input-container input[type="text"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: var(--titles);
  }

  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--titles);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .input-container input[type="text"]:focus~.underline,
  .input-container input[type="text"]:valid~.underline {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  .footer {
    padding: 30px 30px 20px 30px;
    border-top: 1px solid #e5e5e5;
    margin-top: 10dvh;
    width: 100%;
    text-align: center;

  }


  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    -webkit-animation: spin89345 1s linear infinite;
    animation: spin89345 1s linear infinite;
  }


  @-webkit-keyframes spin89345 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin89345 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='399' viewBox='0 0 100 199'%3E%3Cg fill='%23003049' fill-opacity='.1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    overflow: hidden;
    z-index: 100;
  }

  .preloader .text-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow: hidden;
    color: var(--secondary);
    opacity: 0;


  }


  .preloader .text-container h5 {
    font-size: clamp(26px, 17.5vw, 46px) !important;
  }

  h5 {
    margin: 0;
    padding: 0;
  }


  .cookies{
    margin: 0;
    width: 100%;
    max-width: 400px;
    background: #00000020;
    backdrop-filter: blur(5px);
    color: var(--secondary);
    padding: 32px;
    height: 300px;
    border-radius: 25px;
    position: fixed;
    bottom: 16px;
    right: 16px;
  }

  .cookies h4{margin: 0px;
  }

  .cookies button {
    position: relative;
    padding: 15px 45px;
    background: var(--hover);
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    cursor: pointer;
    border-radius: 8px;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  }
  
  .cookies button:hover {  
    -webkit-animation: wind 2s ease-in-out infinite;
    animation: wind 2s ease-in-out infinite;
  }
  
  @-webkit-keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  }
  
  .cookies button:hover .icon-1 {
    -webkit-animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  
  @-webkit-keyframes slay-1 {
    0% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  
    50% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  
    100% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  
  @keyframes slay-1 {
    0% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  
    50% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  
    100% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  }
  
  .cookies button:hover .icon-2 {
    -webkit-animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  
  @-webkit-keyframes slay-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    50% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
  
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  
  @keyframes slay-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    50% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
  
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  
  .icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  }
  
  .cookies button:hover .icon-3 {
    -webkit-animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  
  @-webkit-keyframes slay-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    50% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  
  @keyframes slay-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    50% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  
  .cookies a{
    text-decoration: none;
    color:var(--secondary);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 2em;
    position: relative;
    transition: all ease .25s;
  
  }

  .cookies a:hover{
    letter-spacing: 2px;
  }

  .cookies a::before{
    content: '';
    background: var(--secondary);
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all ease .25s;
  }

  .cookies a:hover::before{
    width: 100%;
  }

  .cookies .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .hide{
    animation: hide 2s;
  }

  .hidden{
    display: none !important;
  }

  @keyframes hide{
    0%{

    }

    100%{
      transform: translateX(1000px);
    }
  }